<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.game.mapper.GameMapper" >



    <select id="selectAll" resultType="com.example.game.entity.Game">
        select
            id, name, company
        from gameinfo

    </select>
    <select id="findGamebytype" resultType="com.example.game.entity.Game">
        select
            *
        from gameinfo where type like "%"#{type}"%"

    </select>
    <select id="findGamebyname" resultType="com.example.game.entity.Game">
        select
            *
        from gameinfo where name like "%"#{name }"%"

    </select>
    <select id="findGamebyid" resultType="com.example.game.entity.Game">
        select
            *
        from gameinfo where id =#{id }

    </select>
    <insert id="insertGame" parameterType="com.example.game.entity.Game">
        insert into gameinfo
            (id,name,company,console,type ,introduction,sale_time,verify) values
        (#{game.id},#{game.name},#{game.company},#{game.console},#{game.type},#{game.introduction},#{game.sale_time},#{game.verify})

    </insert>
    <select id="check" resultType="com.example.game.entity.Game">
        update game
        set status = true
        where id = #{id}
    </select>


</mapper>
